* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
}

div.izquierda {
  background-color: brown;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 100px;
  
}

.izquierda span{
  color: yellow;
  margin-top: 40px;
}

.principal span{
  color: brown;
 
}

div.principal {
  padding: 30px;
  flex-grow: 1;
  display: flex;

}

@media (max-width: 640px) {
  body {
      flex-direction: column-reverse;
  }
  
  div.izquierda {
      flex-direction: row;
      justify-content: space-evenly;
      background-color: orange;
  }
}
