.contenedor{
    display: flex;
    gap: 0.5rem;
    background-color: yellow;
    padding: 0.5rem;
    min-height: 5rem;

    justify-content:space-around;

    align-items: center;


    /* flex-direction: row; */
}

.item{
    background-color: salmon;
    padding: 0.25rem;
}